<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>E-Pedia: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'screen' %>
  <%= stylesheet_link_tag 'main',:media => 'screen' %>
  <%= stylesheet_link_tag 'print',:media => 'print' %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'ie' %>
  <![endif]-->
</head>
<body>
  <div class="container">
    <div id="spinner" class="spinner" style="display:none;">
      <img src="${resource(dir:'images',file:'spinner.gif')}" alt="Spinner" />
    </div>
    <h1 class="alt">E-Pedia</h1>
    <%= yield %>
  </div>
</body>
</html>
